*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.section-width{
  max-width: 1600px;
  margin: 0 auto;
}
nav{
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu{
  display: flex;
  gap: 32px;
}
.menu li{
  list-style: none ;
}
.menu li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.btn{
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.btn:hover{
  background-color: white;
  color: #469165;
  font-weight: bolder;
  border: 1px solid #469165;
}
.banner{
  background-image: linear-gradient(rgba(0, 25, 49, 0.6), 
  rgba(0, 25, 49, 0.6)), url(Images/notes.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  opacity: #001931;
  margin: 0 auto;
  background-color: #001931;
  
}
.banner-content{
  padding: 116px 120px 180px 120px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
  /* width: 770px; */
}
.banner-content .white-btn{
  padding: 8px 12px;
  background-color: white;
  color: #469165;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.white-btn:hover{
  background-color: #469165;
  color: white;
}
.banner-content .green-line{
  color: #469165;
}
.banner-content h1{
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  color: white;

}
.banner-content .text-area p{
  font-size: 18px;
  /* line-height: 24px; */
  color: white;
}
.text-area{
  border: 1px solid black;
}
.twobtn{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  
}
.banner-content .twobtn .trns-btn{
  background: none;
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  }
  .banner-content .twobtn .trns-btn:hover{
    background-color: white;
    color: #469165;
  }
.container{
  text-align: center;
}
.container .top-content{
  height: 152px;
}
.top-content h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-top: 40px;

}
.top-content p{
  color: #627382;
  font-size: 14px;
  padding-top: 16px;
}
.bottom-content{
  margin-top: 20px;
  /* margin-bottom: 44px; */
}
.bottom-content{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.notes{
  width: 322px;
  height: 250px;
  padding: 70px 24px 24px 24px;
  box-shadow: 0 6px 30px 0 #00000023;
  /* border: 1px solid black; */
}
.notes h3{
  font-size: 24;
  font-weight: 600;
  color: #001931;
  padding-top: 16px;
}
.notes p{
  font-size: 16px;
  color: #627382;
  padding-top: 16px
;
}
.brain{
  margin: 120px;
  display: flex;
  gap: 60px;
}
.brain-content{
  align-self: center;
  
}
.brain-content .sln{
  color: #469165;
  font-size: 16px;
}
.brain-content h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding: 16px 0;

}
.brain-content p{
    color: #627382;
  font-size: 16px;
  padding-bottom: 40px;
}
.brain-content li{
  /* list-style: none; */
  color: #001931;
  font-size: 16px;
  padding-bottom: 16px;
  list-style-image: url(Images/CheckCircle.png);
}
.ready-container{
  margin: 0 120px 120px 120px;
  text-align: center;
  background-color: #F7F6F2;
  padding: 80px 40px;
  border-radius: 12px;
  /* border: 1px solid black; */
}
.ready-container h3{
  color: #001931;
  font-size: 40px;
}
.ready-container p{
  color: #627382;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.main-footer{
  background-color: #001931;
  padding: 120px 120px 0 120px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.main-footer .social h3{
  color: white;
  padding-bottom: 16px;
}
.icons{
  text-align: center;
}
.footer-container2 p{
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
/* .footer-container2 hr{
  color: 1px #1c6bb4;
} */
.footer-container2{
  border-top: 1px #1c6bb4;
}

.footer-container2{
  border-top: 1px solid #053b6d;
}